@media(max-width: 700px){
    .cold-outreach{
        width: 100%;
        margin: 0 auto;

        p{
            width: 100%;
            margin: 1rem auto;
        }
       iframe{
           width: 100%;
           margin: 5px;
       }
    }


}

    #CardUpload {
//   background-color: white;
  margin-top: 20px;
  padding: 10px 32px;
  width: 50%;
  height: auto;
  justify-content: center;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
