.DatePicker{
    margin: 1vh auto 0;
    width: max-content;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;

    input{
        position: relative;
        left: 15px;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &::-webkit-clear-button {
            display: none;
        }

        &::-webkit-calendar-picker-indicator {
            display: none;
        }

    }

}

button{
    border: none;
    border-radius: 50px;
    background: #BB1333;
    margin: 12.5px auto 0;
    color: white;
    width: max-content;
    cursor: pointer;
    transition: .3s ease;

    &:hover{
        transform: scale(1.1);
    }
}
