.oauth {
    height: 40px;
    width: 40px;
    margin: 5px 5px 20px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 360px;

}

.oauth:hover{
    box-shadow: 0 4px 9px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);   
} 
